#chuyende .archive_box {
    background: #f9fafa;
}
#chuyende .row {
    margin-right: -15px;
    margin-left: -15px;
}
#chuyende .col-md-9.content_col.archive_col {
    width: 860px;
}
#chuyende .content_col {
    float: left;
    padding-right: 20px;
}
#chuyende .archive_col {
    margin-top: 30px;
}
/* .row {
    margin-right: -15px;
    margin-left: -15px;
} */
#chuyende .posts .thumbs {
    margin-bottom: 25px;
}
#chuyende .posts .thumbs img {
    width: 100%;
    height: 165px;
    overflow: hidden;
}
#chuyende .post_list .inner {
    padding: 5px 15px 15px 15px!important;
}
#chuyende .post_list .inner .title {
    margin-top: 0!important;
}
#chuyende .posts .title {
    font-size: 14px;
}
#chuyende .posts .title a {
    font-weight: 700;
    line-height: 1.5;
    color: #000;
    display: inline-block;
    width: 100%;
    height: 45px;
    overflow: hidden;
}
#chuyende a {
    text-decoration: none;
}
#chuyende .archive_col .inner p {
    margin-bottom: 0;
}
#chuyende .pdate {
    font-weight: 700;
}
#chuyende .post_list .inner .excerpt {
    height: 60px;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 14px;
}
#chuyende .excerpt {
    text-align: justify;
}
#chuyende button.sb_btn {
    transition: all .25s ease-out;
    background: #036894;
    border: 1px solid transparent;
    padding: 4px 15px;
    color: #fff;
}
#chuyende .paginate {
    text-align: center;
    margin-bottom: 30px;
}
#chuyende .paginate .current {
    background: #036894;
    color: #fff;
}
#chuyende .paginate a, .paginate span {
    padding: 5px 8px;
    border: 1px solid #ccc;
    font-weight: 600;
}
/* .col-md-3.sidebar_col.ar_sb h3.sb_title {
    margin-bottom: 20px;
} */
#chuyende h3.sb_title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #036894;
}
#chuyende ul.list_cate {
    background: #f9fafa;
    box-shadow: 0 0 5px #ccc;
    padding: 15px;
}
ul {
    list-style: none;
    margin: 0;
}
#chuyende ul.list_cate li {
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
}
#chuyende ul.list_cate li a {
    color: #036894;
    font-weight: 700;
}
#chuyende li.li_active a {
    color: #4caf50!important;
}
#chuyende .sb_box.sb_exp {
    background: #ecf3f5;
    padding: 15px 0;
    position: relative;
}
#chuyende .post_list .thumbs {
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
}
#chuyende .sb_box.sb_exp {
    background: #ecf3f5;
    padding: 15px 0;
    position: relative;
}
#chuyende .sb_box {
    margin-bottom: 25px;
    box-shadow: 0 0 5px #ccc;
}
#chuyende h3.exp_title {
    text-transform: uppercase;
    background: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin: 0 25px;
}
#chuyende .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
#chuyende .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
#chuyende .thumb_sb img {
    border-radius: 100%;
}
#chuyende .exp-owl img {
    padding: 15px 0 0;
    width: unset;
    max-width: 100%;
    height: auto;
    margin: auto;
}
#chuyende .exp_text {
    padding: 0 15px;
    text-align: center;
}
#chuyende .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
#chuyende .exp-owl .owl-next {
    right: 5px;
}
#chuyende .exp-owl .owl-prev, .exp-owl .owl-next {
    position: absolute;
    top: 17%;
}
#chuyende h3.sb_ct_title {
    font-size: 14px;
    text-align: center;
    padding: 25px 0;
    background: #4caf50;
    color: #fff;
}
#chuyende .ct_box {
    top: -25px;
    margin: 15px 15px 0;
    background: #e7f5fb;
    padding: 25px 15px 5px;
    position: relative;
}
#chuyende div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

#chuyende .ct_box input.wpcf7-form-control.wpcf7-submit {
    background: #036893;
    border: 1px solid transparent;
    padding: 3px 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
}

#chuyende .box-tn{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
   
}

#chuyende .box-tn h6{
    padding-top: 17px;
    font-size: 13px;
}

#chuyende .box-tn p{
font-size: 13px;
color: #000000e0;
margin:14px;
}

