h3.pros_title {
  text-align: center;
  text-transform: uppercase;
  color: #036894;
  font-weight: 700;
  margin-bottom: 25px;
}
p {
  margin: 0 0 10px;
}
.top-content {
  margin-bottom: 20px;
}
.cc_thumb img {
  max-width: 100%;
  height: auto;
  width: unset!important;
  display: block;
  margin: auto;
  border-radius: 100%;
}