

#tuyendung{
    padding-top:105px
}
#tuyendung button.sb_btn {
    
    transition: all .25s ease-out;
    background: #036894;
    border: 1px solid transparent;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
}

#tuyendung button.sb_btn:hover {
    background: 0 0;
    border: 1px solid #036894;
    color: #036894;
}


#tuyendung .box-content{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 366px;
}

#tuyendung .box-text{
    padding-left: 54px;
    padding-top: 103px;
    text-align: justify;
}

#tuyendung .box-text p{
    color:#282935;
}
